<div id="home-jumbo" class="jumbotron text-center">
  <h1>WODTracker</h1>
  <p>Accountability Simplified</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>What is WODTracker?</h2>
      <h4>WODTracker is an online tool to maintain and update your fitness journal</h4>
      <p>Create workouts, log workouts, and view past workouts to follow your progress and keep yourself accountable</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div id="gray-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Browse Workouts</h2>
      <h4>Search WODTracker's collaborative WOD library</h4>
      <%= link_to "Start Browsing", wods_path, class: "btn btn-default btn-lg" %>
      <!-- <button class="btn btn-default btn-lg">Start Browsing</button> -->
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <h2>Get Started</h2>
  <% if user_signed_in? %>
  <div class="row text-left">
    <div class="col-sm-8">
      <h4>View your profile, log workouts, and monitor your progress</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <br>
      <button class="btn btn-default btn-lg">Your Profile</button>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <br>
      <button class="btn btn-default btn-lg">Sign Up</button>
    </div>
    <!-- <div class="col-sm-4">
      <button class="btn btn-default btn-lg">Sign Up</button>
    </div> -->
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-home logo-small"></span>
      <br>
      <button class="btn btn-default btn-lg">Sign In</button>
    </div>
    <!-- <div class="col-sm-4">
      <button class="btn btn-default btn-lg">Sign In</button>
    </div> -->
  </div>
  <%end%>
</div>
